{% extends 'base.html.twig' %}

{% block title %}Animaux{% endblock %}

{% block body %}
    <div class="col-md-6 contenu-blanc">

        <h1>Les <span> {{  lesAnimaux | length }}  </span>animaux</h1>

        <div class="contenu">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="bg-entete">
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Race</th>
                    <th>Date de naissance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <!-- formulaire pour ajouter un nouvel animal-->
                <tr>
                    {{ form_start(formCreation, {'attr': {'novalidate': 'novalidate'}}) }}
                    <td>Nouveau</td>
                    <td>{{ form_widget(formCreation.nom) }}  {{ form_errors(formCreation.nom) }}</td>
                    <td>{{ form_widget(formCreation.race) }} {{ form_errors(formCreation.race) }}</td>
                    <td>{{ form_widget(formCreation.dateNaissance) }} {{ form_errors(formCreation.dateNaissance) }}</td>
                    <td><button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('animal_ajouter') }}"  title="Enregistrer nouvel animal"><i class="fa fa-save"></i> Enregistrer</button>
                        <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Annuler </button></td>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                </tr>


                {% for key, animal in lesAnimaux %}
                    <tr>
                        {% if animal.id != idAnimalModif %}
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.nom }}</td>
                            <td>{{ animal.race.getIntitule() }}</td>
                            <td>{{ animal.getDateNaissance() | format_date(locale='fr') }}</td>
                            <!-- formulaire pour demander la modification ou la suppression -->
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('animal_demandermodification', {'id' : animal.id }) }}" title="Modifier"><i class="fa fa-pencil"></i> Modifier</button>
                                    <button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('animal_supprimer', {'id' : animal.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cet animal ?');"><i class="fa fa-trash-o "></i> Supprimer</button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ animal.id) }}">     {#  ~     pour concaténer des chaines en twig #}
                                </form>
                            </td>
                        {% else %}
                            <!-- formulaire pour modifier un animal -->
                            {{ form_start(formModification) }}
                            <td>{{ animal.id }}</td>
                            <td>{{ form_widget(formModification.nom) }} {{ form_errors(formModification.nom) }}</td>
                            <td>{{ form_widget(formModification.race) }} {{ form_errors(formModification.race) }}</td>
                            <td>{{ form_widget(formModification.dateNaissance) }} {{ form_errors(formModification.dateNaissance) }}</td>
                            <td class="col-md-4">
                                <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('animal_modifier', {'id' : animal.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i> Enregistrer</button>
                                <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
                                <button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('animal') }}" title="Annuler"><i class="fa fa-undo"></i> Annuler</button>
                            </td>
                            {# Ceci va générer le champ CSRF #}
                            {{ form_rest(formModification) }}
                            {{ form_end(formModification) }}
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->

{% endblock %}