{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="col-md-15 contenu-blanc">

        <h1>Les <span> {{  lesClients | length }}  </span>clients</h1>
        {# formulaire de recherche des produits #}
        {{ form_start(formRecherche) }}
        <div class="container-fluid contenu">
            <div class="row">
                <div class="col-md-8 row font-weight-bold">
                    <div class="col-md-6">{{ form_label(formRecherche.nom) }}</div>
                    <div class="col-md-3">{{ form_label(formRecherche.prenom) }}</div>
                    <div class="col-md-3">{{ form_label(formRecherche.adresse) }}</div>
                    <div class="col-md-6">{{ form_label(formRecherche.mail) }}</div>
                    <div class="col-md-3">{{ form_label(formRecherche.telephone) }}</div>
                    <div class="col-md-3">{{ form_label(formRecherche.date) }}</div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-8 row">
                    <div class="col-md-6">{{ form_widget(formRecherche.nom) }}</div>
                    <div class="col-md-3">{{ form_widget(formRecherche.prenom) }}</div>
                    <div class="col-md-3">{{ form_widget(formRecherche.adresse) }}</div>
                    <div class="col-md-6">{{ form_widget(formRecherche.mail) }}</div>
                    <div class="col-md-3">{{ form_widget(formRecherche.telephone) }}</div>
                    <div class="col-md-3">{{ form_widget(formRecherche.date) }}</div>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('client') }}" title="Afficher les clients"><i class="fa fa-save"></i> Afficher</button>
                    <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
                </div>

            </div>
        </div>
        {{ form_end(formRecherche) }}

        <div class="container-fluid contenu">
        <div class="contenu">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="bg-entete">
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Mail</th>
                    <th>Telephone</th>
                    <th>Date d'entrée en relation</th>
                </tr>
                </thead>
                <tbody>

                <!-- formulaire pour ajouter un nouveau client-->
                <tr>
                    {{ form_start(formCreation, {'attr': {'novalidate': 'novalidate'}}) }}
                    <td>Nouveau</td>
                    <td>{{ form_widget(formCreation.nom) }}  {{ form_errors(formCreation.nom) }}</td>
                    <td>{{ form_widget(formCreation.prenom) }} {{ form_errors(formCreation.prenom) }}</td>
                    <td>{{ form_widget(formCreation.adresse) }} {{ form_errors(formCreation.adresse) }}</td>
                    <td>{{ form_widget(formCreation.mail) }}  {{ form_errors(formCreation.mail) }}</td>
                    <td>{{ form_widget(formCreation.telephone) }} {{ form_errors(formCreation.telephone) }}</td>
                    <td>{{ form_widget(formCreation.date) }} {{ form_errors(formCreation.date) }}</td>
                    <td><button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('client_ajouter') }}"  title="Enregistrer nouveau client"><i class="fa fa-save"></i> Enregistrer</button>
                        <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Annuler </button></td>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                </tr>


                {% for key, client in lesClients %}
                    <tr>
                        {% if client.id != idClientModif %}
                            <td>{{ client.id }}</td>
                            <td>{{ client.nom }}</td>
                            <td>{{ client.prenom }}</td>
                            <td>{{ client.adresse }}</td>
                            <td>{{ client.mail }}</td>
                            <td>{{ client.telephone }}</td>
                            <td>{{ client.getDate() | format_date(locale='fr') }}</td>
                            <!-- formulaire pour demander la modification ou la suppression -->
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('client_demandermodification', {'id' : client.id }) }}" title="Modifier"><i class="fa fa-pencil"></i> Modifier</button>
                                    <button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('client_supprimer', {'id' : client.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer ce client ?');"><i class="fa fa-trash-o "></i> Supprimer</button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ client.id) }}">     {#  ~     pour concaténer des chaines en twig #}
                                </form>
                            </td>
                        {% else %}
                            <!-- formulaire pour modifier un animal -->
                            {{ form_start(formModification) }}
                            <td>{{ client.id }}</td>
                            <td>{{ form_widget(formModification.nom) }}  {{ form_errors(formCreation.nom) }}</td>
                            <td>{{ form_widget(formModification.prenom) }} {{ form_errors(formCreation.prenom) }}</td>
                            <td>{{ form_widget(formModification.adresse) }} {{ form_errors(formCreation.adresse) }}</td>
                            <td>{{ form_widget(formModification.mail) }}  {{ form_errors(formCreation.mail) }}</td>
                            <td>{{ form_widget(formModification.telephone) }} {{ form_errors(formCreation.telephone) }}</td>
                            <td>{{ form_widget(formModification.date) }} {{ form_errors(formCreation.date) }}</td>
                            <td class="col-md-4">
                                <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('client_modifier', {'id' : client.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i> Enregistrer</button>
                                <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
                                <button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('client') }}" title="Annuler"><i class="fa fa-undo"></i> Annuler</button>
                            </td>
                            {# Ceci va générer le champ CSRF #}
                            {{ form_rest(formModification) }}
                            {{ form_end(formModification) }}
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(lesProduits) }}
            </div>

        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->

{% endblock %}
