{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
    <div class="col-md-8 contenu-blanc">

        <h1>Les <span> {{  lesFournisseurs | length }}  </span>fournisseurs</h1>

        <div class="contenu">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="bg-entete">
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Nom du contact</th>
                    <th>Date d'entrée en relation</th>
                </tr>
                </thead>
                <tbody>

                <!-- formulaire pour ajouter un nouvel fournisseur-->
                <tr>
                    {{ form_start(formCreation, {'attr': {'novalidate': 'novalidate'}}) }}
                    <td>Nouveau</td>
                    <td>{{ form_widget(formCreation.nom) }}  {{ form_errors(formCreation.nom) }}</td>
                    <td>{{ form_widget(formCreation.adresse) }} {{ form_errors(formCreation.adresse) }}</td>
                    <td>{{ form_widget(formCreation.mail) }} {{ form_errors(formCreation.mail) }}</td>
                    <td>{{ form_widget(formCreation.telephone) }} {{ form_errors(formCreation.telephone) }}</td>
                    <td>{{ form_widget(formCreation.nomContact) }} {{ form_errors(formCreation.nomContact) }}</td>
                    <td>{{ form_widget(formCreation.dateRelation) }} {{ form_errors(formCreation.dateRelation) }}</td>
                    <td><button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('fournisseur_ajouter') }}"  title="Enregistrer nouvel fournisseur"><i class="fa fa-save"></i> Enregistrer</button>
                        <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Annuler </button></td>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                </tr>


                {% for key, fournisseur in lesFournisseurs %}
                    <tr>
                        {% if fournisseur.id != idFournisseurModif %}
                            <td>{{ fournisseur.id }}</td>
                            <td>{{ fournisseur.nom }}</td>
                            <td>{{ fournisseur.adresse }}</td>
                            <td>{{ fournisseur.mail}}</td>
                            <td>{{ fournisseur.telephone }}</td>
                            <td>{{ fournisseur.nomContact }}</td>
                            <td>{{ fournisseur.getDateRelation() | format_date(locale='fr') }}</td>
                            <!-- formulaire pour demander la modification ou la suppression -->
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('fournisseur_demandermodification', {'id' : fournisseur.id }) }}" title="Modifier"><i class="fa fa-pencil"></i> Modifier</button>
                                    <button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('fournisseur_supprimer', {'id' : fournisseur.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cet fournisseur ?');"><i class="fa fa-trash-o "></i> Supprimer</button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ fournisseur.id) }}">     {#  ~     pour concaténer des chaines en twig #}
                                </form>
                            </td>
                        {% else %}
                            <!-- formulaire pour modifier un fournisseur -->
                            {{ form_start(formModification) }}
                            <td>{{ fournisseur.id }}</td>
                            <td>{{ form_widget(formModification.nom) }} {{ form_errors(formModification.nom) }}</td>
                            <td>{{ form_widget(formModification.adresse) }} {{ form_errors(formModification.adresse) }}</td>
                            <td>{{ form_widget(formModification.mail) }} {{ form_errors(formModification.mail) }}</td>
                            <td>{{ form_widget(formModification.telephone) }} {{ form_errors(formModification.telephone) }}</td>
                            <td>{{ form_widget(formModification.nomContact) }} {{ form_errors(formModification.nomContact) }}</td>
                            <td>{{ form_widget(formModification.dateRelation) }} {{ form_errors(formModification.dateRelation) }}</td>
                            <td class="col-md-4">
                                <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('fournisseur_modifier', {'id' : fournisseur.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i> Enregistrer</button>
                                <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
                                <button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('fournisseur') }}" title="Annuler"><i class="fa fa-undo"></i> Annuler</button>
                            </td>
                            {# Ceci va générer le champ CSRF #}
                            {{ form_rest(formModification) }}
                            {{ form_end(formModification) }}
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->

{% endblock %}